# fallback owners
* @LedgerHQ/embedded-apps

# OS owned components
/lib_nfc/                           @LedgerHQ/embedded-os
/lib_cxng/                          @LedgerHQ/embedded-os
/io/                                @LedgerHQ/embedded-os
/io_legacy/                         @LedgerHQ/embedded-os
/lib_blewbxx*/                      @LedgerHQ/embedded-os
/lib_stusb*/                        @LedgerHQ/embedded-os

# shared components
/src/                               @LedgerHQ/embedded-apps @LedgerHQ/embedded-os
