name: Build Rust SDK on latest C SDK

on:
  workflow_dispatch:
    inputs:
      c_sdk_branch:
        type: string
        required: false
        default: 'master'
      c_sdk_repo:
        type: string
        required: false
        default: 'LedgerHQ/ledger-secure-sdk'
      rust_sdk_branch:
        type: string
        required: false
        default: 'develop'
  pull_request:

jobs:
    test_build_rust_sdk:
        name: Build Rust SDK
        uses: LedgerHQ/ledger-device-rust-sdk/.github/workflows/reusable_build_sdk.yml@master
        with:
            rust_sdk_branch: ${{ github.event_name == 'workflow_dispatch' && inputs.rust_sdk_branch || (github.base_ref || github.ref_name) == 'master' && 'develop' || 'master' }}
            c_sdk_branch: ${{ github.event_name == 'workflow_dispatch' && inputs.c_sdk_branch || github.head_ref }}
            c_sdk_repo: ${{ github.event_name == 'workflow_dispatch' && inputs.c_sdk_repo || 'LedgerHQ/ledger-secure-sdk' }}
    test_build_all_rust_apps:
        name: Build all Rust apps
        uses: LedgerHQ/ledger-device-rust-sdk/.github/workflows/reusable_build_all_apps.yml@master
        with:
            rust_sdk_branch: ${{ github.event_name == 'workflow_dispatch' && inputs.rust_sdk_branch || (github.base_ref || github.ref_name) == 'master' && 'develop' || 'master' }}
            c_sdk_branch: ${{ github.event.inputs.c_sdk_branch || github.head_ref }}
            c_sdk_repo: ${{ github.event.inputs.c_sdk_repo || github.event.pull_request.head.repo.full_name }}
