name: Unit testing with Codecov coverage checking

on:
  workflow_dispatch:
  push:
    branches:
      - master
      - main
      - develop
  pull_request:

jobs:
  job_unit_test:
    name: Unit test
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/ledgerhq/ledger-app-builder/ledger-app-builder-lite:latest

    steps:
      - name: Clone
        uses: actions/checkout@v4

      - name: Build unit tests
        run: |
          cd unit-tests/lib_standard_app/
          cmake -Bbuild -H. && make -C build && make -C build test
          cd ../lib_nbgl/
          cmake -Bbuild -H. && make -C build && CTEST_OUTPUT_ON_FAILURE=1 make -C build test
          STAX=1 cmake -Bbuild -H. && make -C build && CTEST_OUTPUT_ON_FAILURE=1 make -C build test
          cd ../app_storage/
          cmake -Bbuild -H. && make -C build && make -C build test

      - name: Generate code coverage
        run: |
          cd unit-tests/lib_standard_app/
          ../gen_coverage.sh
          cd ../lib_nbgl/
          ../gen_coverage.sh
          cd ../app_storage/
          ../gen_coverage.sh

      - uses: actions/upload-artifact@v4
        with:
          name: code-coverage
          path: unit-tests/lib_*/coverage

      - name: Upload to codecov.io
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./unit-tests/lib_standard_app/coverage.info,./unit-tests/lib_nbgl/coverage.info,./unit-tests/app_storage/coverage.info
          flags: unittests
          name: codecov-ledger-secure-sdk
          fail_ci_if_error: true
          verbose: true
